body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: rgb(181, 181, 181);
  background: radial-gradient(
    circle,
    rgba(181, 181, 181, 1) 17%,
    rgba(0, 0, 0, 1) 91%
  );
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.status {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3);
}

.board-row {
  display: flex;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  width: 50px;
  margin: 5px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.square:hover {
  background-color: #f0f0f0;
}

.square:focus {
  outline: none;
}

.game-info {
  margin-top: 20px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3);
}
